.container
  .row
    .col-md-12.center-block
      =form_for @trap, :method => :put, html: {:role => :form, :class => 'form-horizontal'} do |form|
        .form-group
          = form.label :trap_name, 'Name for the trap', class: 'col-md-2 control-label'
          .col-md-9
            =form.text_field :trap_name, placeholder: 'trap name', class: 'form-control'
        .form-group
          = form.label :comment, 'Comment', class: 'col-md-2 control-label'
          .col-md-8
            =form.text_field :comment, placeholder: 'trap comment', class: 'form-control'
          .col-md-1
            %button.btn.btn-success{ type: 'submit' }
              %span.glyphicon.glyphicon-ok
  .row
    .col-md-12
      %table.table.table-condensed.table-hover
        %tr
          %th trap address
          %th comments
          %th requests count
          %th
        -@traps.each do |trap|
          %tr
            %td
              =link_to full_trap_name(trap), trap_list_path(trap)
            %td=trap.comment
            %td=trap.rqs.count
            %td
              =link_to trap, :method => :delete do
                .glyphicon.glyphicon-remove
